<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>Calculadora de costos</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav id="nav">
        <div id="dock">
            <i class="fa fa-bars fa-2x" aria-hidden="true" onclick="showMenu()"></i>
        </div>
        <div id="menu">
            <div class="nav__container">
                <ul class="menu__nav hiden">
                    <li onclick="showMenu()"><a href="../index.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                    <li onclick="showMenu()"><a href="#"><i class="fa fa-calculator" aria-hidden="true"></i>Calculadora</a></li>
                    <li onclick="showMenu()"><a href=""><i class="fa fa-usd" aria-hidden="true"></i>Ventas</a></li>
                </ul>
            </div>
            <div class="info__container">
                <ul id="menu__info">
                    <li>Contact Us</li>
                    <li>About Us</li>
                    <li>Develop for FrancoDanielsen</li>
                </ul>
            </div>
        </div>
    </nav>
    <section>
        <h1 class="tittle">Bienvenido </h1>
        <h3>En esta sección podrás cargar y calcular el costo de tus productos</h3>
        <div class="new__product">
            <input type="text" value="" class="new__product-input" id="product__name" placeholder="Nombre del Producto">
            <select name="category" type="" class="new__product-input" id="product__category" placeholder="Categoría del Producto">
                <option value="bebidas">bebidas</option>
                <option value="comestibles">comestibles</option>
                <option value="golosinas">golosinas</option>
            </select>
            <input type="number" class="new__product-input" id="product__cost" placeholder="Costo del producto">
            <input type="number" class="new__product-input" id="product__gain" placeholder="Ganancia estimada">
            <button id="new-product" onclick="newProduct()">Agregar producto</button>
        </div>
        <h4 class="error__msg">Debe completar todos los campos</h4>
        <table id="product-table">
            <tr>
                <th>Nombre del producto</th>
                <th>Categoría</th>
                <th>Costo</th>
                <th>Margen de Ganancia</th>
                <th>Precio de venta</th>
                <th>Borrar</th>
            </tr>
            <tbody id="table-body"></tbody>
        </table>
        <!-- <button id="search-product" onclick="searchProduct()">Buscar producto</button>
        <h1>El producto que buscas:</h1>
        <ul id="search"> -->

        </ul>
    </section>

</body>
<script src="../index.js"></script>
<script src="../scripts/front.js"></script>
<script src="../scripts/validations.js"></script>

</html>